.title{

}
.picture{
width:800px;
position: absolute;
top: 80px;
left: 240px;
}

.picture1{
width:350px;
position: relative;
top: 430px;
left: 180px;
}

.picture2{
width:800px;
position: relative;
top: 30px;
left: 155px;
}

.picture3{
width:600px;
position: relative;
left: 256px;
}


.picture4{
width:300px;
position: relative;
left: 380px;
}

.p2{
font-size:50px;
font-family:Times New Roman;
text-align:center;
padding-top:10px;

}

/*zoom design sa box*/


.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.1);
}

.image {
        position: relative;
        transition: 0.6s;
      }

.p2 {
  font-family: Courier;
}

